In [46]:
import os
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from nltk.tokenize import RegexpTokenizer
import re

In [47]:
#pointing the source and listing the file names under that path
path = os.chdir('C://Users//ar393556//Documents//Ticket grams//sample')
files = os.listdir(path)
files

['bigrams.csv',
 'CIandSI_Test1.xlsx',
 'dict_file.csv',
 'Diff_words.csv',
 'final words.csv',
 'sample_words.txtdic']

In [48]:
#Fetching only xlsx files
files_xls = [f for f in files if f[-4:] == 'xlsx']
files_xls

['CIandSI_Test1.xlsx']

In [49]:
df = pd.DataFrame()

#Reading the files and appending the data in the DataFrame format
for f in files_xls:
    data = pd.read_excel(f,sheet_name='CI-Data')
    df = df.append(data)

In [50]:
#Taking only TicketID and Summary which are essential

ticket_df_full = pd.DataFrame(df, columns= ['TicketID','Summary'])

ticket_df=ticket_df_full[['TicketID','Summary']]

#no. of records and columns
ticket_df.shape

#Dropping null/blank records
ticket_df=ticket_df.dropna()

In [51]:
#New table data shape
ticket_df.shape

(2561, 2)

In [86]:
ticket_df.head()

   TicketID                                 Summary
0    543244              class bandwidth allocation
1    675379                                  change
2   1077865            client latop office not work
3   1018957  client mail box need configure outlook
4    801584            client need install software

In [53]:
knowledge_base=pd.read_csv('dict_file.csv')

In [54]:
knowledge_base=knowledge_base['Words']

In [55]:
knowledge_base=knowledge_base.tolist()

In [56]:
len(knowledge_base)

4317

In [57]:
# To remove punchuation, numbers and converting the string to lower
ticket_df['Summary'] = ticket_df['Summary'].str.lower().str.replace(r'[^a-z\s]', '')

In [58]:
ticket_df.head()

   TicketID                                           Summary
0    543244                        class bandwidth allocation
1    675379                             classification change
2   1077865                client latop  office   not working
3   1018957  client mail box needs to be configure in outlook
4    801584                   client need to install software

In [59]:
import spacy
nlp=spacy.load('en_core_web_sm')

In [60]:
# ticket_df= ticket_df.apply(lambda row: " ".join([w.lemma_ for w in nlp(row)]))

In [61]:
# from nltk.corpus import stopwords
# # stop_words = stopwords.words('english')
# len(stop_words)

In [62]:
print(nlp.Defaults.stop_words)

{'enough', 'its', 'beforehand', 'those', 'fifty', 'ours', 'regarding', 'through', 'own', 'i', 'nobody', 'before', 'other', 'do', 'everything', 'must', 'please', 'empty', 'give', 'while', 'neither', 'until', 'once', 'does', 'sometime', 'get', 'yourselves', 'somewhere', 'mine', 'between', 'two', 'seemed', 'never', 'see', 'and', 'her', 'herself', 'upon', 'should', 'per', 'may', 'again', 'third', 'all', 'whose', 'together', 'my', 'thanks', 'almost', 'become', 'most', 'whereas', 'wherever', 'within', 'for', 'yourself', 'which', 'although', 'becomes', 'might', 'except', 'namely', 'eight', 'is', 'myself', 'herein', 'off', 'seeming', 'some', 'was', 'why', 'would', 'something', 'anyway', 'hence', 'above', 'up', 'however', 'hereafter', 'how', 'beyond', 'wherein', 'part', 'ourselves', 'amongst', 'just', 'whole', 'from', 'that', 'their', 'often', 'thus', 'in', 'amount', 'done', 'keep', 'there', 'call', 'none', 'else', 'fifteen', 'sixty', 'hereupon', 'after', 'it', 're', 'nevertheless', 'ten', 'been', 'every', 'either', 'the', 'by', 'elsewhere', 'about', 'formerly', 'next', 'much', 'on', 'well', 'yours', 'also', 'further', 'at', 'take', 'others', 'them', 'seems', 'twenty', 'because', 'everyone', 'ever', 'had', 'whatever', 'therein', 'perhaps', 'whereby', 'who', 'what', 'noone', 'if', 'latterly', 'top', 'whither', 'will', 'side', 'via', 'full', 'forty', 'with', 'go', 'here', 'such', 'unless', 'even', 'did', 'meanwhile', 'quite', 'whom', 'nine', 'becoming', 'him', 'latter', 'six', 'under', 'hereby', 'us', 'without', 'along', 'throughout', 'your', 'same', 'eleven', 'now', 'say', 'mostly', 'then', 'somehow', 'one', 'into', 'across', 'yet', 'very', 'still', 'whereupon', 'five', 'both', 'used', 'nowhere', 'this', 'to', 'hers', 'his', 'various', 'ca', 'serious', 'three', 'below', 'when', 'among', 'whoever', 'really', 'beside', 'hundred', 'always', 'thence', 'least', 'sometimes', 'indeed', 'front', 'therefore', 'being', 'whenever', 'an', 'nor', 'show', 'someone', 'she', 'became', 'rather', 'me', 'towards', 'dear', 'twelve', 'due', 'he', 'onto', 'we', 'thereupon', 'over', 'using', 'everywhere', 'put', 'these', 'am', 'were', 'only', 'team', 'behind', 'whereafter', 'against', 'toward', 'though', 'be', 'already', 'each', 'as', 'or', 'first', 'than', 'has', 'whence', 'move', 'few', 'itself', 'many', 'doing', 'thereafter', 'whether', 'since', 'made', 'anyhow', 'they', 'where', 'back', 'can', 'more', 'anywhere', 'a', 'moreover', 'several', 'so', 'anyone', 'are', 'besides', 'during', 'himself', 'thereby', 'make', 'thru', 'any', 'of', 'last', 'name', 'anything', 'bottom', 'our', 'less', 'but', 'you', 'themselves', 'alone', 'four', 'have', 'former', 'otherwise', 'down', 'around', 'too', 'another', 'seem', 'could', 'out', 'afterwards', 'no'}

In [63]:
nlp.Defaults.stop_words.add('thanks')
nlp.Defaults.stop_words.add('please')
nlp.Defaults.stop_words.add('team')
nlp.Defaults.stop_words.add('dear')

In [64]:
nlp.Defaults.stop_words.remove('not')
nlp.Defaults.stop_words.remove('cannot')
nlp.Defaults.stop_words.remove('nothing')

KeyError: 'not'

In [65]:
stop_words=nlp.Defaults.stop_words

In [66]:
# stop_words=stopword

In [67]:


# new_stopwords = ['thanks','please','team','dear']
# new_stopwords_list = stop_words.update(new_stopwords)
# not_stopwords = {'not'} 
# final_stop_words = set([word for word in new_stopwords_list if word not in not_stopwords])


ticket_df['Summary'] = ticket_df['Summary'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_words))

In [68]:
# ticket_df.head()

In [69]:
freq = pd.Series(' '.join(ticket_df).split()).value_counts()
imp_words=freq[freq<2]

In [70]:
freq = list(imp_words.index)
ticket_df['Summary'] = ticket_df['Summary'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

In [71]:
ticket_df['Summary'] = ticket_df['Summary'].apply(lambda x: " ".join(x for x in x.split() if len(x)>=3 and len(x)<12))

In [72]:
ticket_df['Summary']= ticket_df['Summary'].apply(lambda row: " ".join([w.lemma_ for w in nlp(row)]))

In [28]:
# knowledge_base = list(knowledge_base)
# ticket_df['Summary'] = ticket_df['Summary'].apply(lambda x: " ".join(x for x in x.split() if x in knowledge_base))

In [73]:
ticket_df.head()

   TicketID                                 Summary
0    543244              class bandwidth allocation
1    675379                                  change
2   1077865            client latop office not work
3   1018957  client mail box need configure outlook
4    801584            client need install software

In [74]:
ticket_df.to_csv('final words.csv')

In [75]:
import collections
bi=collections.Counter()
for i in ticket_df['Summary']:
    x = i.rstrip().split(" ")
    bi.update(set(zip(x[:-1],x[1:])))

In [77]:
type(bi)

collections.Counter

In [78]:
bigram_counter = pd.DataFrame.from_dict(bi, orient='index')

In [33]:
# bigram_counter= bigram_counter.sort_values(by =0, ascending=False)

In [79]:
bigram_counter.head(20)

                        0
(lease, open)           1
(show, user)            1
(issue, unable)         2
(need, help)            2
(day, can)              1
(testing, brazil)       1
(not, able)            20
(latop, detail)         1
(class, packet)         2
(open, port)            2
(malware, antivirus)    1
(like, new)             1
(build, current)        1
(network, slownesswe)   1
(destination, port)     2
(plan, bhdc)            1
(freq, acclockout)      1
(wipro, mdc)            1
(vpn, issue)            3
(contact, detail)       1

In [80]:
bigram_counter.to_csv('bigrams.csv')

In [88]:
bigram_df=pd.read_csv('bigrams.csv',index_col=False)

In [89]:
bigram_df.head()

                bigram  count
0    ('lease', 'open')      1
1     ('show', 'user')      1
2  ('issue', 'unable')      2
3     ('need', 'help')      2
4       ('day', 'can')      1

In [91]:
bigram_df['bigram'] = bigram_df['bigram'].str.lower().str.replace(r'[^a-z\s]', '')

In [93]:
bigram_df.head()

         bigram  count
0    lease open      1
1     show user      1
2  issue unable      2
3     need help      2
4       day can      1

In [100]:
lis = ['Date', 'Product', 'Price']
d = {'Date' : '2013-05-01', 'Salary' : '$5000', 'Product' : 'Toys', 'Price' : '$10', 'Salesman' : 'Smith'}

In [101]:
n = {k: d[k] for k in lis if k in d}

In [102]:
n

{'Date': '2013-05-01', 'Price': '$10', 'Product': 'Toys'}

In [ ]:
from past.builtins import xrange
N=2
sentence = ["client mail box needs configure outlook","client office not working"]
for text in sentence:
    sent=text.split()
    grams = [sent[i:i+N] for i in xrange(len(sent)-N+1)]
    
    print(grams)

In [36]:
bigram_counter.shape

(1904, 2)

In [37]:
import collections
tri=collections.Counter()
for i in ticket_df['Summary']:
    x = i.rstrip().split(" ")
    tri.update(set(zip(x[:-2],x[1:-1],x[2:])))

In [38]:
trigram_counter = pd.DataFrame.from_dict(tri,orient='index').reset_index()
trigram_counter= trigram_counter.sort_values(by =0, ascending=False)

In [39]:
trigram_counter.head(20)

                             index    0
1643             (mail, not, work)  151
996              (lan, port, need)   72
178           (vlan, switch, port)   68
289        (port, need, configure)   67
1198       (need, configure, vlan)   67
507      (configure, vlan, switch)   63
452      (license, expire, change)   48
1015       (user, reset, password)   46
469            (help, user, reset)   46
485   (frequent, account, lockout)   42
1115         (need, admin, access)   36
1251        (access, need, enable)   21
978        (direct, access, issue)   21
138       (need, activate, office)   21
1357       (activate, office, key)   16
732      (daily, critical, device)   16
1044      (device, not, reachable)   16
327               (add, pst, file)   14
1070           (need, add, laptop)   14
1598              (need, add, pst)   14

In [41]:
for gram in grams: print(gram)

['client', 'office']
['office', 'not']
['not', 'working']

In [42]:
sorted_bi = OrderedDict(sorted(bi.items(), key = lambda kv : kv[1], reverse=True))

NameError: name 'OrderedDict' is not defined

In [ ]:
# for k,v in bi.items():
#     print(k,v)

In [45]:
bigram_counter.head()

             index    0
493    (not, work)  262
331   (help, user)  195
541    (mail, not)  158
890   (port, need)   75
1165   (lan, port)   73

In [44]:
ticket_df.shape

(2561, 2)